@import url('https://fonts.googleapis.com/css2? família=Advento+Pro:wght@600&display=swap');

:root{ 
    --fundo-logo:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    --fundo-botao: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
body{
    
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    margin-top: 0;
}
.logo_topo{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 10px;
    left: 40px;
    border-radius: 100px;
    box-shadow: var(--fundo-logo);
}
.texto{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 800;
    color: white;
    position: absolute;
    top: 18%;
    left: 48%;
}

.home{
    position: absolute;
    top: 7%;
    left: 70%;
    height: 55px;
    

}

.contato{
    position:absolute;
    top: 7%;
    left: 80%;
    

}

.doacao{
    display: flex;
    height: 150px;
    width: 150px;
    background-color:#57F2C5;
    text-align: center;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 300;
    flex-direction: column;
    position: absolute;
    top:40%;
    left: 3%;
    border-radius: 30px;
    box-shadow:var(--fundo-botao);
    text-decoration: none;
    border-radius: 30px;
    
}   

.logo_doacao{
    height: 50px;
    width: 50px;
    margin-left: 10%;
    margin-top: 20%;
    

}

.emergencia{
    display: flex;
    height: 150px;
    width: 150px;
    background-color:#F2E74B;
    text-align: center;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 300;
    flex-direction: column;
    position: absolute;
    top:80%;
    left: 3%;
    border-radius: 30px;
    box-shadow: var(--fundo-botao);

}
.logo_emergencia{
    height: 50px;
    width: 50px;
    margin-left: 30%;
    margin-top: 20%;

}

.consulta{
    display: flex;
    height: 110px;
    width: 110px;
    background-color:#FAAD2D;
    text-align: center;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 300;
    flex-direction: column;
    position: absolute;
    top:30%;
    left: 25%;
    border-radius: 30px;
    box-shadow: var(--fundo-botao);

}
.logo_consulta{
    height: 50px;
    width: 50px;
    margin-left: 30%;
    margin-top: 10%;

}

.banho{
    display: flex;
    height: 110px;
    width: 110px;
    background-color:#F7C8E0;
    text-align: center;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 300;
    flex-direction: column;
    position: absolute;
    top:60%;
    left: 25%;
    border-radius: 30px;
    box-shadow: var(--fundo-botao);

}
.logo_banho{
    height: 50px;
    width: 50px;
    margin-left: 30%;
    margin-top: 10%;

}

.farmacia{
    display: flex;
    height: 110px;
    width: 110px;
    background-color:#33FA43;
    text-align: center;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 300;
    flex-direction: column;
    position: absolute;
    top:90%;
    left: 25%;
    border-radius: 30px;
    box-shadow: var(--fundo-botao);

}
.logo_farmacia{
    height: 50px;
    width: 50px;
    margin-left: 30%;
    margin-top: 10%;

}

.cirurgia{
    display: flex;
    height: 110px;
    width: 110px;
    background-color:#2DE1FA;
    text-align: center;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 300;
    flex-direction: column;
    position: absolute;
    top:30%;
    left: 40%;
    border-radius: 30px;
    box-shadow: var(--fundo-botao);

}
.logo_cirurgia{
    height: 50px;
    width: 50px;
    margin-left: 30%;
    margin-top: 10%;

}

.castracao{
    display: flex;
    height: 110px;
    width: 110px;
    background-color:#0BE5E0;
    text-align: center;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 300;
    flex-direction: column;
    position: absolute;
    top:60%;
    left: 40%;
    border-radius: 30px;
    box-shadow: var(--fundo-botao);

}
.logo_castracao{
    height: 50px;
    width: 50px;
    margin-left: 30%;
    margin-top: 10%;

}

.agenda{
    display: flex;
    height: 110px;
    width: 110px;
    background-color:3A98B9;
    text-align: center;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 300;
    flex-direction: column;
    position: absolute;
    top:90%;
    left: 40%;
    border-radius: 30px;
    box-shadow: var(--fundo-botao);

}
.logo_agenda{
    height: 50px;
    width: 50px;
    margin-left: 30%;
    margin-top: 10%;

}
.video{
    position: absolute;
    top:30%;
    left: 50%;
}
/*DOACOES*/

.logo_topo_doacoes{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 0px;
    left: 40px;
    border-radius: 100px;
    box-shadow: var(--fundo-logo);

}

.cabecalho_doacoes{
    top: 0;
    width: 110%;
    height: 170px;
    left: 0;
    background-color:white;
    text-decoration: none;
    position:absolute;
    top: 0px;
    
}
.cabecalho__menu{
    display: inline-flex;
    align-items: center;
    margin-left: 50%;
    margin-top: 6%;
    gap: 80px;
    
}
.cabecalho__menu__link{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 900;
    color:#1F4373;
    
}
.cabecalho__menu__link:hover{
    color: #5FD9D9;
}
.titulo{
    color: white;
    position: absolute;
    top:30%;
    left: 25%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    box-shadow: var(--fundo-botao);
}
.texto_doacoes{
    position: absolute;
    top: 45%;
    left: 35%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;

}

.foto_um{
    overflow: hidden;
    border-radius: 5px;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width:330px; 
    height:235px;
    position: absolute;
    top:60%;
    left: 10%;

}

.foto_um:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

.foto_dois{
    overflow: hidden;
    border-radius: 5px;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width:330px; 
    height:235px;
    position: absolute;
    top:60%;
    left: 37.5%;

}

.foto_dois:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}
.foto_tres{
    overflow: hidden;
    border-radius: 5px;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width:330px; 
    height:235px;
    position: absolute;
    top:60%;
    left:65%;

}

.foto_tres:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

.foto_quatro{
    overflow: hidden;
    border-radius: 5px;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width:330px; 
    height:235px;
    position: absolute;
    top:101%;
    left: 10%;
    

}

.foto_quatro:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

.foto_cinco{
    overflow: hidden;
    border-radius: 5px;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width:330px; 
    height:235px;
    position: absolute;
    top:101%;
    left: 37.5%;
    

}

.foto_cinco:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

.foto_seis{
    overflow: hidden;
    border-radius: 5px;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width:330px; 
    height:235px;
    position: absolute;
    top:101%;
    left:65%;
    

}

.foto_seis:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}
.texto_doacoe_escolha{
    position: absolute;
    top: 150%;
    left: 15%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: white;
    text-align: center;
}
.rodape{
    position: absolute;
    background-color: white;
    height: 160px;
    width: 100%;
    margin-top: 85%;
    left: 0;
   
    
}
.logo_rodape{
    position: relative;
    height: 150px;
    width: 150px;
}
.titulo_rodape_conteudo{
    position: absolute;
    top:2%;
    left: 15%;
    font-family: 'Courier New', Courier, monospace ;
    font-size: 20px;
    font-weight: 800;
    color: #F7C04A;
    text-align: center;

}
.rodape_conteudo{
    position: absolute;
    top:18%;
    left: 15%;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 20px;
    color: #1F4373;
    text-align: center;
}
.horario{
    position: absolute;
    top:2%;
    left: 45%;
    font-family: 'Courier New', Courier, monospace ;
    font-size: 20px;
    font-weight: 800;
    color: #F7C04A;
    text-align: center;

}

.conteudo_horario{
    position: absolute;
    top:18%;
    left: 50%;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 20px;
    color: #1F4373;
    text-align: center;

}
.Whatsapp{
    position: absolute;
    top:7%;
    left: 80%;

}
.numero{
    position: absolute;
    top:60%;
    left: 80%;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 20px;
    color: #1F4373;

}